

<h1>
  <%= @movie.title %>
  <small><%= @movie.release_date.year %></small>
  <br>
  <% @movie.genres.each do |genre| %>
  	<small><%= link_to genre.name, genre_path(genre) %></small>
  <% end %>
  <br>
  <% if @rating == 0 %>
  Not voted yet.
  <% else %>
  <h3><%= @rating %></h3>
  <% end %>
  <% if current_user %>
    <% for i in 1..10 %>
      <% if @rating.round < i %>
        <%= link_to image_tag('star.png', width: 30), movie_rate_path(@movie, i), {:style=>'opacity:0.5'} %>
      <% else %>
        <%= link_to image_tag('star.png', width: 30), movie_rate_path(@movie, i) %>
      <% end %>
    <% end %>
  <% else %>
    <% for i in 1..10 %>
        <% if @rating.round < i %>
          <%= image_tag('star.png', width: 30, style:'opacity:0.5') %>
        <% else %>
          <%= image_tag('star.png', width: 30)%>
        <% end %>
      <% end %>
  <% end %>
</h1>

<p>
  <%= image_tag(@movie.cover) %>
</p>

<p>
  <%= @movie.plot %>
</p>

Directors:
<% @movie.directors.each do |director|%>
<%= link_to director.full_name, person_path(director) %>
<% end %>
<br>
Writers:
<% @movie.writers.each do |writer|%>
<%= link_to writer.full_name, person_path(writer) %>
<% end %>
<br>
Producer:
<% @movie.producers.each do |producer|%>
<%= link_to producer.full_name, person_path(producer) %>
<% end %>
<br>
Musicians:
<% @movie.musicians.each do |musician|%>
<%= link_to musician.full_name, person_path(musician) %>
<% end %>
<br>
Actors:
<% @movie.actors.each do |actor|%>
<%= link_to actor.full_name, person_path(actor) %>
<% end %>