

<h1>
  <%= @movie.title %>
  <small><%= @movie.release_date.year %></small>
  <br>
  <% @movie.genres.each do |genre| %>
  	<small><%= link_to genre.name, genre_path(genre) %></small>
  <% end %>
  <br>
  <%= @rating %>
</h1>

<p>
  <%= image_tag(@movie.cover,) %>
</p>

<p>
  <%= @movie.plot %>
</p>

Directors:
<% @movie.directors.each do |director|%>
<%= director.full_name %>
<% end %>
<br>
Writers:
<% @movie.writers.each do |writer|%>
<%= writer.full_name %>
<% end %>
<br>
Producer:
<% @movie.producers.each do |producer|%>
<%= producer.full_name %>
<% end %>
<br>
Musicians:
<% @movie.musicians.each do |musician|%>
<%= musician.full_name %>
<% end %>
<br>
Actors:
<% @movie.actors.each do |actor|%>
<%= actor.full_name %>
<% end %>