<div class="row">

  <div class="col-xs-4">
    <%= image_tag(@movie.cover, size: "300x430", id: "cover") %>
  </div>

  <div class="col-xs-8">
    <h1><%= @movie.title %>&nbsp;<small><%= @movie.release_date.year %></small></h1>
    <h4>
    <% @movie.genres.each do |genre| %>
      <%= link_to genre.name, genre_path(genre) %>
    <% end %>
    </h4>
    <% if current_user %>
      <% for i in 1..10 %>
        <% if @rating.round < i %>
          <%= link_to image_tag('star.png', width: 30), movie_rate_path(@movie, i), {:style => 'opacity: 0.5'} %>
        <% else %>
          <%= link_to image_tag('star.png', width: 30), movie_rate_path(@movie, i) %>
        <% end %>
      <% end %>
    <% else %>
      <% for i in 1..10 %>
        <% if @rating.round < i %>
          <%= image_tag('star.png', width: 30, style: 'opacity: 0.5') %>
        <% else %>
          <%= image_tag('star.png', width: 30) %>
        <% end %>
      <% end %>
    <% end %>
    <% if @rating == 0 %>
      <b> :( </b>
    <% else %>
      <b> <%= @rating %> </b>
    <% end %>
    <br>
    <br>
    <p> <%= @movie.plot %> </p>
  </div>
</div>
<hr>
<div class="row">
  <h3>Cast</h3>
  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h4> Directors: </h4></div>
      <div class="panel-body">
        <% @movie.directors.each do |director| %>
          <%= link_to director.full_name, person_path(director) %><br> 
        <% end %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><h4> Writers: </h4></div>
      <div class="panel-body">
        <% @movie.writers.each do |writer| %>
          <%= link_to writer.full_name, person_path(writer) %><br>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h4> Producer: </h4></div>
      <div class="panel-body">
        <% @movie.producers.each do |producer|%>
          <%= link_to producer.full_name, person_path(producer) %><br>
        <% end %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><h4> Musicians: </h4></div>
      <div class="panel-body">
        <% @movie.musicians.each do |musician|%>
          <%= link_to musician.full_name, person_path(musician) %><br>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h4> Actors: </h4></div>
      <div class="panel-body">
        <% @movie.actors.each do |actor|%>
          <%= link_to actor.full_name, person_path(actor) %><br>
        <% end %>
      </div>
      </div>
    </div>
  </div>
<div class="row">
  <h3>Comments</h3>
  <% @comments.each do |comment| %>
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>
        <%= comment.user.email %>
        <% if comment.user.user_ratings.where(movie_id:@movie.id).first %>
          | <%= comment.user.user_ratings.where(movie_id:@movie.id).first.rating %>
        <% end %>
        </h4>
      </div>
      <div class="panel-body">
        <%= comment.body %>
        <% if comment.user == current_user %>
          <%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
      </div>
    </div>
  <% end %>
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>
        Yorum Yap
        </h4>
      </div>
      <div class="panel-body">
      <%= render 'comments/form' %>
      </div>
    </div>
  </div>
</div>
