
<div class="row">

  <div class="col-md-6">
    <h3>Showcase</h3>
    <% @movies.each do |m| %>
      <%= link_to image_tag(m.cover,size: "180x300"), movie_path(m.id) %>
    <% end %>
  </div>

  <div class="col-md-6">
    <% if current_user %>
      <h3>Top 10 Movies</h3>
      <ul class="list-group">
        <% for i in 0..9 %>
          <li class="list-group-item">
            <span class="badge"><%= @topmovies[i].average.round(2) %></span>
            <b><%= i+1 %></b> <%= @topmovies[i].title %>
          </li>
       <% end %>
      </ul> 
    <% else %>
      <h3>Sign Up!</h3>
      <%= form_for(:user, :url => registration_path(:user), html: {class: 'form-horizontal'} ) do |f| %>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
        </div>
        <div class="form-group">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control",  placeholder: "Password Confirmation" %>
        </div>
        <%= f.submit "Register!", class: "btn btn-success" %>
    <% end %> 
  <% end %>
  </div>
</div>
